:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	span {
		font-size: 80px;
		opacity: .4;
	}

	.not-found {
		opacity: .4;
		text-transform: capitalize;
	}
}