$background-color: #331D2C;
$background-color-items: #262525;
$box-color: #212121;

$dark-color: #3F2E3E;
$light-color: #A78295;

$text-color: #EFE1D1;
$placeholder-color: rgba(#EFE1D1, 70%);

$box-color-hover: darken($box-color, 2%);