<ul 
	(cdkDropListDropped)="onTodoDropped($event)"
	class="todo-list"
	cdkDropList>
	<li 
		*ngFor="let todo of todoList; trackBy: todosTrackBy"
		[class.completed]="todo.completed"
		cdkDrag>
		<app-todo-list-item-ui
			(changeState)="onChangeStateTodo($event)"
			(delete)="onDeleteTodo($event)" 
			[todo]="todo">
			<span
				class="span-button"
				cdkDragHandle>
				<span class="material-symbols-outlined">
					drag_indicator
				</span>
			</span>
		</app-todo-list-item-ui>
	</li>
</ul>

<app-todo-list-not-found 
	*ngIf="!todoList?.length">
</app-todo-list-not-found>
